<!-- <div>OL</div> -->

<div>
  <h1>INSTANCE BEGIN</h1>
  <!-- <div>ID:{{$ctrl.session.id}}</div>
  <h1>CONFIG</h1>
  <div>NAME:{{$ctrl.session.session_config.name}}</div>
  <div>PASSWORD:{{$ctrl.session.session_config.password}}</div>
  <div>DESCRIPTION:{{$ctrl.session.session_config.description}}</div>
  <div>GAME:{{$ctrl.session.session_config.game}}</div>

  <h1>STATE</h1>
  <div>state:{{$ctrl.session.state.name}}</div>

  <div>
    <button ng-click="$ctrl.join()">JOIN SESSION</button>
  </div>

  <h1>PLAYERS</h1>
  <session-player ng-repeat="sessionPlayer in $ctrl.players" session-player="sessionPlayer"></session-player>

  <div ng-repeat="moveToCommandName in $ctrl.moveToCommandNames">
    <button ng-click="$ctrl.move(moveToCommandName)">{{moveToCommandName}}</button>
  </div> -->

  <div>
    <h4>STATE</h4>
    {{$ctrl.state}}
  </div>

  <div ng-switch="$ctrl.roomService.room.state.allPlayersArePresent">
    {{$ctrl.roomService.room.state.allPlayersArePresent}}
    <div ng-switch-when="false">
      <div style="width:50px; height:50px; background-color: red;"></div>
    </div>
    <div ng-switch-when="true">
      <div style="width:50px; height:50px; background-color: green;"></div>
    </div>
  </div>

  <div ng-repeat="roomCommandName in $ctrl.roomCommandNames">
    <button ng-click="$ctrl.do(roomCommandName)" style="width:200px;height:200px;">{{roomCommandName}}</button>
  </div>

  <div ng-repeat="moveToCommandName in $ctrl.moveToCommandNames">
    <button ng-click="$ctrl.move(moveToCommandName)">{{moveToCommandName}}</button>
  </div>

</div>
